[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/sjtu-ai-go/googletest.git
[submodule "vendor/libgo-common"]
	path = vendor/libgo-common
	url = https://github.com/sjtu-ai-go/libgo-common.git
[submodule "vendor/CompressedGrid"]
	path = vendor/CompressedGrid
	url = https://github.com/sjtu-ai-go/CompressedGrid.git
